<!DOCTYPE html>
<html>
<head>
    <title>312 Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h1>Upload a photo for your profile picture.</h1>
    <%= typeof msg != 'undefined' ? msg : ''%>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name ="ProPic"type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <a href="/home">
        <button class="btn">Go back</button>
    </a>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : ''%>" class="circle responsive-img">
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>