<html>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src ="/socket.io/socket.io.js"> </script>
<link rel="stylesheet" href="app.css">
<script src="./web.js"></script>
<h1>Socket Testing</h1>

<script>
    chatRoom_id = null
    
    fetch('/allEmail').then(response =>response.json())
    .then(async(data) => {
        console.log(data)
        for( var i = 0; i<data.userList.length;i++){
            var btn = document.createElement("BUTTON");
			btn.innerHTML = "Talk to " + data.userList[i]
			btn.classList.add("frmBtn")
			btn.id = data.userList[i]
			btn.onclick = async function(){
               chatRoom_id = await getChatRoomId(this.id)
            //    let message = await getConvo(this.id)
            console.log("Getting this id " + chatRoom_id)
            let message = await getConvo(chatRoom_id)
            console.log(message)


               document.getElementById("convo").innerHTML = "";
                

               var intro = document.createElement("div");
               intro.id = "toGet"
               intro.innerHTML = this.id
               document.getElementById("convo").append(intro)
               var space = document.createElement("br");
               document.getElementById("convo").append(space)

               let newT = document.createElement("div");
                newT.id = "newText"
                document.getElementById("convo").append(newT)

               for ( i = 0; i< message.length; i++){
                    var div1 = document.createElement("div");
                    div1.innerHTML = message[i].sender + " said " + message[i].content + " to "+ message[i].receiver
                    document.getElementById("newText").append(div1)
               }
               var text = document.createElement("input");
               text.id = "currentText"
               document.getElementById("convo").append(text)
               var subText = document.createElement("BUTTON");
               subText.innerHTML = "Send Message"
               subText.onclick = async function(){
                   textToAdd = document.getElementById("currentText").value
                   newText = "You : " + textToAdd

                   reciever = document.getElementById("toGet").innerHTML
                   await test(textToAdd, reciever,chatRoom_id)
                   var div1 = document.createElement("div");
                   div1.innerHTML = newText;
                   div1.id = "currentUser"
                   document.getElementById("newText").append(div1)
                   document.getElementById("currentText").value = ""


               }
               document.getElementById("convo").append(subText)


               console.log(message)
				// alert(this.id)
            }
            document.getElementById("loader-parent").append(btn)
            var div1 = document.createElement("div");
            let userID = await getUserId(data.userList[i])
            div1.id = userID
            div1.innerHTML = "Offline"
            document.getElementById("loader-parent").append(div1)
        }
        console.log(data)
    }).catch((err) =>{
        console.log(err)
    })

    var chart=null;
  async function graph(title){
    if(chart!=null){
        chart.destroy();
    }

    
    
  }
// async function getConvo(email){
    async function getConvo(chatroom_id){
      console.log("Second")
 
   messages = await fetch('/getMessages', {
        method: 'POST', // or 'PUT'
        headers: {
            'Content-Type': 'application/json',
        },
        // body: JSON.stringify({personA : localStorage.getItem("token"), personB : email}),
        body: JSON.stringify({chatroom_id:chatroom_id}),
        })
        .then(response => response.json())
        .then(data => {
            
            return data;
        
        })
        .catch((error) => {
        console.error('Error:', error);
        });
       return messages
    
}
  function logOut(){
    fetch('/logout/'+localStorage.getItem("token"))
    .then(response => response.json())
    .then(data => {
        if(data.worked ){
            localStorage.removeItem('token')
            window.location.replace("/login")
        }
    }); 
  }
  
</script>
<div class="dropdown">
    <button onclick = "logOut()">Log Out</button>
    <div class="dropdown-content">
      <a id ="Survey One" onclick='graph(this.id)'>Survey Holder 1</a>
      <a id = "Survey Two" onclick = 'graph(this.id)'>Survey Holder 2</a>
      <a id = "Survey Three" onclick = 'graph(this.id)'>Survey Holder 3</a>
    </div>
  </div>

<div class="chart-container" style="position: relative;height:30vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>




<div id="loader-parent">

</div>
<br>
<br>

<div id = "clear">
    <div id="convo">
        <div id = "newText"></div>
    </div>
</div>


<button onclick ="test()">Stuff</button>


<br>
<br>
<form action="/game" method="get">
    <button>Game</button>
  </form>


</html>