<html>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src ="/socket.io/socket.io.js"> </script>
    <link rel="stylesheet" href="app.css">
    <script src="./web.js"></script>
    <style>
        body {
            margin: 0;
        }
        canvas {
            border:1px solid #d3d3d3;
            background-color: #f1f1f1;
        }
    </style>
    
   <script >
      players = {

      }
      start()
       globalUserID =""
    
      
       myGamePiece = new component(20,20, "red", x, y);

    //   function startGame() {
    //     var canvas = document.createElement("CANVAS");
    //     canvas.id = "canvas"
    //     var ctx = canvas.getContext("2d");
    //     canvas.width = 600
    //     canvas.height = 600
    //     // ctx.beginPath();
    //     // ctx.rect(myGamePiece.x, myGamePiece.y, myGamePiece.width, myGamePiece.height);
    //     // ctx.fillStyle = myGamePiece.color;
    //     // ctx.fill();

       
        

    //     document.getElementById("container").appendChild(canvas);
    // }

    
    
    </script>
  <!-- <body onload="startGame()"></body> -->

  <div id ="container">

    <canvas id="canvas" width="600" height="600"></canvas>
  </div>

  <body onkeydown='getKeyAndMove(event)'>
</body>


</html>