
<html>
   <label>Translate : </label> <input id ="translate"/>
   <button onclick = "textTranslate()">Translate!</button>
   <div id = "ori"> </div>
   <div id = "translated"></div>
</br>
<script> 

function textTranslate(){
   let text =  document.getElementById("translate").value;

        fetch('/translate', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({toTranslate : text}),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById("translated").innerHTML = "Translated Text = " + data.translation
                document.getElementById("ori").innerHTML = "The Original Language is in " + data.from
            })
            .catch((error) => {
            console.error('Error:', error);
            });
        
}

</script>
</html>
