doctype html
html
    head
        title Login
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='/CSS/signin.css', type='text/css')
        script(src='https://kit.fontawesome.com/f1627fd21a.js', crossorigin='anonymous')
        script(src='/Script/Signin.js')
    body
        div.background
            div.signInContainer
                img(src='../asset/mockLogo.png')
                h2.slogan Connect with others in one platform
                h4#login Login
                div.line#line
                input#name(placeholder='Full Name', maxlength='45')
                input#email(placeholder='Email Address', maxlength='45', onchange='checkEmail(this.value)')
                p.invalid#invalidEmail Please enter a valid email
                div.passContainer
                    input#password(placeholder='Password', maxlength='16', onchange='checkPass(this.value)', type='password')
                    div.hide#hide(onclick='passwordVisibility()')
                        i.fas.fa-eye-slash.fa-lg.hidePass#hidePass
                    div.show#show(onclick='passwordVisibility()')
                        i.fas.fa-eye.fa-lg.showPass#showPass
                p.invalid#invalidPass
                button.loginButton#loginButton Login
                div.loginSwitch
                    p#switchText Don't have an account?
                    p#switch(onclick='switchLogins()') Create One
