<!DOCTYPE html>
<html>
<head><title>Message App</title>
    <link rel="stylesheet" href="./home.css" type="text/css">
    <script src="https://kit.fontawesome.com/f1627fd21a.js" crossorigin="anonymous"></script>
    <script src="./home.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,800&amp;display=swa"
          rel="stylesheet">
</head>
<body>
<div class="leftContainer">
    <div class="userProfile"><img class="rounded recentProfile" src="../asset/mockLogo.png">
        <h3 class="userName">Test User</h3></div>
    <div class="searchTypeContainer"><p class="messaageType clickable" id="Message" onclick="changeMessage()">
        MESSAGE</p>
        <p class="peopleType clickable" id="People" onclick="changePeople()">PEOPLE</p></div>
    <div class="searchContainer">
        <div class="iconContainer"><i class="fas fa-search fa-lg searchIcon"></i><input class="searchInput"
                                                                                        placeholder="Search"></div>
    </div>
    <div class="recentMessageContainer">
        <div class="recentMessageBlock clickable" id="123" onclick="getMessages(this.id)">
            <div class="recentMessageSplit"><img class="rounded recentProfile" src="../asset/mockLogo.png">
                <div class="nameMessage"><p class="recentName">a jan</p>
                    <p class="recentMessage">hey whats up</p></div>
                <p class="recentTime">3:42 PM</p></div>
        </div>
    </div>
</div>
<div class="rightContainer">
    <div class="chatProfile">
        <div class="chatProfileInfo"><img class="receiverPicture rounded" src="../asset/mockLogo.png">
            <p class="receiverName">Jokle Frfjd</p></div>
        <span class="block"><i class="fas fa-ban fa-lg blockIcon"></i></span></div>
    <div class="socketContainer">
        <div class="singleMessageContainerRight">
            <div class="messageContentContainerRight"><p class="senderName">jan</p>
                <p class="messageContent">; sk</p></div>
            <img class="messageSenderImage rounded" src="../asset/mockLogo.png"></div>
        <div class="singleMessageContainerRight">
            <div class="messageContentContainerRight"><p class="senderName">jan</p>
                <p class="messageContent">hellow sk</p></div>
            <img class="messageSenderImage rounded" src="../asset/mockLogo.png"></div>
        <div class="singleMessageContainerLeft"><img class="messageSenderImage rounded" src="../asset/mockLogo.png">
            <div class="messageContentContainerLeft"><p class="senderName">me</p>
                <p class="messageContent">hellow sk</p></div>
        </div>
    </div>
    <div class="inputContainer">
        <div class="imageIconInput"><i class="far fa-image fa-2x imageIcon"></i><input class="inputMessage"
                                                                                       placeholder="Type here to send a message"><i
                class="fas fa-paper-plane fa-2x sendIcon"></i></div>
    </div>
</div>
</body>
</html>
