html {
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 1000px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    width: 100%;
    height: 100%;
}
.leftContainer{
    width: 700px;
    height: 100%;
    background: #e8eded;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #d9d9d9;
}
.userProfileImageContainer{
    position: relative;
    width: 75px;
    height: 75px;
}
.editProfileImage{
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
}
.messageContentTextContainer{
    background: #0086f4;
    padding: 1px 15px;
    border-radius: 10px;
}
.searchTypeContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.peopleType{
    color: #bababa;
}
.searchIcon{
    width: 100px;
    position: absolute;
    margin-top: 17px;
    margin-left: 10px;
}
.iconContainer{
    width: 90%;
}
.userProfile{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchInput{
    border: none;
    width: 100%;
    border-radius: 50px;
    height: 50px;
    text-indent: 50px;
    font-size: 20px;
    box-shadow: 0 8px 6px -6px gray;
}
.recentMessage{
    font-weight: 400;
}
.recentMessageContainer{
    overflow-y: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recentMessageBlock{
    width: 90%;
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px gray;
}
.recentMessageBlock:hover{
    background: rgba(120, 168, 245, 0.3);
}
.nameMessage{
    margin-left: 15px;
}
.recentMessageSplit{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.recentTime{
    margin-left: auto;
}
.recentProfile{
    width: 75px;
}
.receiverPicture{
    width: 75px;
    margin-right: 20px;
}
.rounded{
    border-radius: 50%;
}
.userName{
    color: dodgerblue;
}
.noChatContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: white;
}
.block{
    color: gray;
    margin-right: 30px;
}
.inputContainer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.socketContainer{
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chatProfile{
    width: 100%;
    height: 100px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chatProfileInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.inputMessage{
    width: 90%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: #e8eded;
    padding-left: 50px;
}

input:focus{
    outline: none;
}
.singleMessageContainerLeft{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.singleMessageContainerRight{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.messageSenderImage{
    width: 60px;
}
.messageContentContainerLeft{
    word-wrap: break-word;
    margin-left: 10px;
    height: 60px;
}
.messageContentContainerRight{
    margin-right: 10px;
    height: 60px;
    text-align: right;

}
.imageIcon{
    position: absolute;
    margin-left: 10px;
    color: #2eb3e8;
}
.senderName{
    margin: 0;
}
.sendIcon{
    color: #2eb3e8;
    margin-left: 10px;
}
.messageContent{
    font-weight: 500;
}
.imageIconInput{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}
.blockIcon{
    color: #2eb3e8;
}
.clickable{
    cursor: pointer;
}

