body{
    font-family: 'Noto Sans JP', sans-serif;
    min-height:800px;
    min-width:800px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background{
    background-image: url(views/asset/backGround.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInContainer{
    height: 700px;
    width: 600px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
}
textarea:focus, input:focus{
    outline: none;
}
.line{
    background: #0086f4;
    width: 80px;
    height: 7px;
    background: linear-gradient(90deg, rgba(66,48,188,1) 0%, rgba(135,39,195,1) 50%, rgba(227,26,204,1) 100%);
    border-radius: 20px;
}
h4{
    font-size: 30px;
    margin-bottom: 0;
}
input{
    margin: 10px;
    width: 400px;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}
#password{
    width: 349px;
}
.passContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidePass{
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(66,48,188,1);
    cursor: pointer;
}
.showPass{
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(227,26,204,1);
    cursor: pointer;
}
.show{
    display: none;
}
.loginButton{
    background: linear-gradient(45deg, rgba(66,48,188,1) 0%, rgba(135,39,195,1) 50%, rgba(227,26,204,1) 100%);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    cursor: pointer;
}
#switch{
    margin-left: 5px;
    color: rgba(227,26,204,1);
    text-decoration: none;
    cursor: pointer;
}
.invalid{
    font-size: 15px;
    margin: 0;
    color: red;
    display: none;
}
img{
    width: 100px;
    margin-top: 20px;
}
h2{
    margin: 0;
}
#name{
    display: none;
}

.loginSwitch{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#invalidPass{
    margin-bottom: 20px;
}