doctype html
- let messages = [{id: '123', name:'a jan', recent_message: 'hey whats up', profile:'../asset/mockLogo.png', time:'3:42 PM'}]
html
    head
        title Message App
        link(rel='stylesheet', href='../CSS/home.css', type='text/css')
        script(src='https://kit.fontawesome.com/f1627fd21a.js', crossorigin='anonymous')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,800&display=swa', rel='stylesheet')
    body
        div.leftContainer
            div.searchTypeContainer
                p.messaageType MESSAGE
                p.peopleType PEOPLE
            div.searchContainer
                div.iconContainer
                    i.fas.fa-search.fa-lg.searchIcon
                    input.searchInput(placeholder="Search")
            div.recentMessageContainer
                if messages.length
                    each message in messages
                        div.recentMessageBlock
                            div.recentMessageSplit
                                img.recentProfile(src=message.profile)
                                div.nameMessage
                                    p.recentName= message.name
                                    p.recentMessage= message.recent_message
                                p.recentTime= message.time
                else
                    p.noFriends Add friends to chat with them
        div.middleContainer
            div.chatProfile
                div.chatProfileInfo
                    img.receiverPicture(src='../asset/mockLogo.png')
                    p.receiverName Jokle Frfjd
                span.block
                    i.fas.fa-ban.fa-lg
            div.socketContainer
                div.messageContainer
                    p.messageText hi
            div.inputContainer
                input.inputMessage(placeholder='Type here to send a message')
                img.sendImageIcon
                img.sendIcon
        div.rightContainer
            img.profilePicture
            p.userName name






